.text-block {
    font-family: monospace;
    font-size: 1em;
    animation: move-y 0.5s infinite alternate ease-in-out;
    display: inline-block;
}


@keyframes move-y {
    from {
        transform: translateY(0px);
    } to {
        transform: translateY(10px);
    }
}
